/* Common Rules */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

.container {
    
    width: 80%;
    max-width: 1200px;
    margin: auto;
}

/* Colors Palette */

:root {
    --bo-darker: #000000;
    --bo-badge: #008000;
    --bo-light: #EBEBEB;
    --bo-redbadge: #FF0000;
    --bo-header: #FF6900;
    --bo-background: #FFFFFF;
    --bo-text: #948E80;

}

/* Header */

.bg_header {
    background-color: #FF6900;
}

#row {
    padding-top: 10px;
    padding-bottom: 10px;
}

/* Main */

.margin_row {
    margin-top: 30px;
}

.card {
    height: 550px;
    width: 450px;
    background-color: #EBEBEB;
    display: inline-block;
    position: relative;
}

.levis_fit {
    background-image: url("../img/1.webp");
    background-size: cover;
}

.guess {
    background-image: url("../img/2.webp");
    background-size: cover;
}

.zucchero_filato {
    background-image: url("../img/3.webp");
    background-size: cover;
}

.levis {
    background-image: url("../img/4.webp");
    background-size: cover;
}

.maya {
    background-image: url("../img/5.webp");
    background-size: cover;
}

.esprit {
    background-image: url("../img/6.webp");
    background-size: cover;
}

.heart {
    height: 40px;
    width: 40px;
    background-color: #FFFFFF;
    color: #000000;
    position: absolute;
    top: 10px;
    right: 0;
    text-align: center;
    padding-top: 10px;
}

.badge_red {
    height: 20px;
    width: 40px;
    background-color: #FF0000;
    position: absolute;
    bottom: 30px;
    left: 0;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

.badge_green {
    height: 20px;
    width: 80px;
    background-color: #008000;
    position: absolute;
    bottom: 30px;
    left: 45px;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

#second_row {
    margin-top: 100px;
}

.badge_green_left {
    height: 20px;
    width: 80px;
    background-color: #008000;
    position: absolute;
    bottom: 30px;
    left: 0;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

.heart:hover {
    color: red;
}

:where(.levis_fit):hover {
    background: url("../img/1b.webp") no-repeat;
    background-size: cover;
}

:where(.guess):hover {
    background: url("../img/2b.webp") no-repeat;
    background-size: cover;
}

:where(.zucchero_filato):hover {
    background: url("../img/3b.webp") no-repeat;
    background-size: cover;
}

:where(.levis):hover {
    background: url("../img/4b.webp") no-repeat;
    background-size: cover;
}

:where(.maya):hover {
    background: url("../img/5b.webp") no-repeat;
    background-size: cover;
}

:where(.esprit):hover {
    background: url("../img/6b.webp") no-repeat;
    background-size: cover;
}

/* Footer */

.bg_footer {
    background-color: #000000;
    margin-top: 100px;
}

#info {
    margin-top: 10px;
}

#social {
    padding-top: 10px;
}

/* Utilities */

.flex {
    display: flex;
}

.justify_center {
    justify-content: center;
}

.justify_start {
    justify-content: flex-start;
}

.justify_end {
    justify-content: flex-end;
}

.gap_10 {
    gap: 10px;
}

.gap_20 {
    gap: 20px;
}

.font_size {
    font-size: 12px;
}

.white_text {
    color: #FFFFFF;
}

.grey_text {
    color: #948E80;
}

.text_red {
    color: #FF0000;
}

.text_line {
    text-decoration: line-through;
}

.unlisted {
    list-style: none;
}

.padding_top {
    padding-top: 555px;
}

.padding_top_15 {
    padding-top: 15px;
}

.padding_bottom_15 {
    padding-top: 15px;
}

.col-3 {
    width: calc(( 100% / 12) * 3);
}

.col-6 {
    width: calc(( 100% / 12) * 6);
    padding-top: 30px;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}


