/* Common Rules */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

.container {
    
    width: 80%;
    max-width: 1200px;
    margin: auto;
}

/* Colors Palette */

:root {
    --bo-darker: #000000;
    --bo-badge: #008000;
    --bo-light: #EBEBEB;
    --bo-redbadge: #FF0000;
    --bo-header: #FF6900;
    --bo-background: #FFFFFF;
}

/* Header */

.bg_header {
    background-color: #FF6900;
}

#row {
    padding-top: 10px;
    padding-bottom: 10px;
}

/* Main */

.margin_row {
    margin-top: 30px;
}

.card {
    height: 550px;
    width: 450px;
    background-color: #EBEBEB;
    display: inline-block;
    position: relative;
}

.heart {
    height: 40px;
    width: 40px;
    background-color: #FFFFFF;
    color: #000000;
    position: absolute;
    top: 10px;
    right: 0;
    text-align: center;
    padding-top: 10px;
}


/* Utilities */

.flex {
    display: flex;
}

.justify_center {
    justify-content: center;
}

.gap_10 {
    gap: 10px;
}

.gap_20 {
    gap: 20px;
}

.font_size {
    font-size: 12px;
}

.col-3 {
    width: calc(( 100% / 12) * 3);
}

.col-6 {
    width: calc(( 100% / 12) * 6);
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}


